<div mat-dialog-title>
    <h1>Production downtime</h1>
</div>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="container">
        <div class="row mb-3">
            <mat-form-field appearance="outline">
                <mat-label>Problem</mat-label>
                <input matInput formControlName="problemDescription" required="true">
                <mat-error>This field is required!</mat-error>
            </mat-form-field>
        </div>
        <div class="row mb-3">
            <mat-form-field appearance="outline">
                <mat-label>Action taken</mat-label>
                <input matInput formControlName="actionTaken" required="true">
                <mat-error>This field is required!</mat-error>
            </mat-form-field>
        </div>
        <div class="row mb-3">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Done by</mat-label>
                    <input matInput formControlName="technician" required="true">
                    <mat-error>This field is required!</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Tester</mat-label>
                    <input #input
                            type="text"
                            placeholder="Pick one"
                            matInput
                            formControlName="workstation"
                            [formControl]="workstation"
                            [matAutocomplete]="auto"
                            (input)="filter()"
                            (focus)="filter()">
                    <mat-autocomplete requireSelection autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Operator</mat-label>
                    <input matInput formControlName="operator">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="caption">Start</div>
                <app-datetimepicker style="zoom: 1.32;" placeholder="Start" [initialValue]="timeStarted" (dateValue)="timeStartedChange($event)"></app-datetimepicker>
            </div>
            <div class="col">
                <div class="caption">Finish</div>
                <app-datetimepicker style="zoom: 1.32;" placeholder="Finish" [initialValue]="timeFinished" (dateValue)="timeFinishedChange($event)"></app-datetimepicker>
            </div>
            <div class="col mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>Time</mat-label>
                    <input matInput placeholder="[min]" type="number" formControlName="totalDowntime" required>
                    <mat-error>This field is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button class="mx-2 mb-3" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button class="mx-2 mb-3" color="primary" type="submit">Save</button>
    </div>
</form>
