.noRecordsFound{
    text-align: center;
    padding-top: 30px;
    font-size: 22px;
    font-style: italic;
    font-family: "lato", sans-serif;
    font-weight: 400;
}

.myTable{
    border-radius: 10px;
    overflow: hidden;
}

.background{
    background-image: url("../../../assets/Img/background4.jpg");
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-attachment: fixed;
    position: relative;
}


tbody tr:nth-child(odd) {
    background-color: #ffffff00;
  }
tbody tr:nth-child(even) {
background-color: #ffffff67;
}

.myTableHead{
    font-weight: bold;
    border-bottom: 2px solid whitesmoke;
}

.myTableRow{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-top: none;
    border-bottom: none;
    color: rgb(63, 59, 59);
}

table, th, td {
    border-collapse: collapse;
}
td{
    border:1px solid black;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
