.noRecordsFound{
    text-align: center;
    padding-top: 30px;
    font-size: 22px;
    font-style: italic;
    font-family: "lato", sans-serif;
    font-weight: 400;
}

.background{
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    min-height: 100%;
    background-image: url("../../../assets/Img/background4.jpg");
}

.table{
    margin-top: 3%;
    margin: 0 auto;
    padding: 5%;
    padding-top: 1%;
    border-radius: 10px;
    overflow: hidden;
}

.downtimeTable{
    padding: 5%;
    padding-top: 1%;
}

.button{
    opacity: 0.9;
    float: right;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff00;
  }
tbody tr:nth-child(even) {
background-color: #ffffff67;
}

.myTableHead{
    border-bottom: 2px solid whitesmoke;
}

.myTableRow{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(63, 59, 59);
    border: none;
}

td{
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgba(253, 249, 42, 0.164);
  }